<!DOCTYPE html>
<html>

<head>
	<title>udemy assignment</title>
</head>
<body>
	<div class="container">
		<header>
			<h1>This is all about me!</h1>
			<%= image_tag 'logo.png' %>
			<p class="disclaimer">**logo was taken from freelogoservices.com // not intended for commercial use // used as example only.</p>
		</header>
	</div>
	<nav class="container"><%= link_to "Home", root_path %></nav>
	
	<div class="container">
		<div class="top-row-line row">
			<div class="right-column-line col-sm">
				<h3>Dimsum's Header</h3>
				<p>Lorem dimsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="col-sm">
				<h3>Chowfan's Header</h3>
				<p>Lorem chowfan dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>


</body>
</html>